body {
    background-image: url("/static/stylized-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bride, .groom {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-family:'Lobster', cursive;
    font-size: 80pt;
}
.groom {
    bottom: 0px;
}

.canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    opacity:0.5;
}
body {
    overflow:hidden;
}
